# Python
__pycache__/
*.pyc

# Django
db.sqlite3
staticfiles/

# Virtual Environment
venv/
.env/

# Environment Variables
.env

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Temporary files
*.crdownload